VITE_STRIPE_PUBLISHABLE_KEY=pk_test_YOUR_KEY_HERE
VITE_STRIPE_PRICE_STARTER=price_YOUR_STARTER_PRICE_ID
VITE_STRIPE_PRICE_GROWTH=price_YOUR_GROWTH_PRICE_ID
VITE_STRIPE_PRICE_SCALE=price_YOUR_SCALE_PRICE_ID
